h1 {
  text-decoration: underline;
}
body {
  background-color: #2c3333;
}
.titulo {
  font-size: 50px;
  justify-content: center;
  display: flex;
}
.inicio {
  justify-content: center;
  display: flex;
}
.enlace {
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
}
.gifi img {
  width: 200px;
}
.tema1 {
  display: flex;
  justify-content: center;
}

.testo p {
  font-size: 30px;
  color: #ecdfcc;
  text-align: center;
}
